node_modules/**/*

Doit_TypescriptPrograming/Chap01_code/node_modules
Doit_TypescriptPrograming/Chap02_code/node_modules
Doit_TypescriptPrograming/Chap05_code/node_modules
Doit_TypescriptPrograming/Chap06_code/node_modules
Doit_TypescriptPrograming/Chap07_code/node_modules